{% extends 'base.html' %}
{%load static%}
{% load bootstrap5%}
{% block body %}
<style>
    body{
        background-image: url('../static/finalimg.webp');
    }
</style>

    <div class="container">
        <h3 style="text-align: center;"><b>Connect With Employees</b></h3>
        <form  method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-warning" value="submit">
        </form>
    </div>
{% endblock %}