{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
    body{
        background-image: url('../static/finalimg.webp');
    }
</style>
<div class="container" style="text-align: center;" id="details">
    <h1><b>Employee Detail</b></h1>
    <img src="{{employe_detail.qrcode.url}}"></img>
    <div class="container">
    <h5>Name :  <b>{{employe_detail.user.username}}</b></h5>
    <h5>Employe_ID: <b>{{employe_detail.id}}</b></h5>
    <h5>Date of Birth : <b>{{employe_detail.dob}}</b></h5>
    <h5>Email : <b>{{employe_detail.user.email}}</b></h5>
    <h5>Role : <b>{{employe_detail.employe_role}}</b></h5>
    <h5>Phone Number : <b>{{employe_detail.phone_number}}</b></h5>
    <h5>Last Login : <b>{{employe_detail.user.last_login}}</b></h5>
    <h5>Last Logout : <b>{{employe_detail.logout_time}}</b></h5>
    </div>
    <a href="{% url 'employe:update' employe_detail.id %}" class="btn btn-warning">Update</a>
    <a href="{% url 'employe:delete' employe_detail.id %}" class="btn btn-danger">Delete</a>
    <button  class="btn btn-primary" onclick="window.print()">Print</button>

</div>
{% endblock %}