{% extends 'base.html' %}
{%load static%}
{% block body %}
<style>
    body{
        background-image: url('../static/finalimg.webp');
    }

    table, th, td {
                  border: 1px solid black;
                  text-align: center;
                  
     }
</style>
   
<div class="container">
    <h1 style="text-align: center;"><b>Recieved Mail From Employees</b></h1>
    <div class="d-flex justify-content-center">    
            <table class="table" style="width: 30%;">
            <tr>
                    <th scope="col" style="text-align: center;">Employee ID</th>
                    <th scope="col" style="text-align: center;">Employee Name</th>
                    <th scope="col" style="text-align: center;">Recieved Time</th>

            </tr>
           
            {% for i in feedback_list%}
            <tr>
                <td><a class="nav-link" href="{% url 'employe:feedback_detail' i.id  %}"  ><b>{{i.id}}</b></a></td>
                <td><a class="nav-link" href="{% url 'employe:feedback_detail' i.id  %}"  ><b>{{i}}</b></a></td>
                <td><a class="nav-link" href="{% url 'employe:feedback_detail' i.id  %}"  ><b>{{i.sent_time}}</b></a></td>
            </tr>
            {% endfor %}

            </table>

</div>
</div>

{% endblock %}