{% extends 'base.html' %}

{% block body %}

<style>
    body{
            background-image: url("../static/finalimg.webp ");
    }
    table, th, td {
              border: 1px solid black;
              
    }

    
</style>

<div class="container">
    <h1 style="text-align: center;">The Mail</h1>
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Comments</th>
            <th scope="col">Time</th>
        </tr>
        <tbody>
            <tr>
                <td><b>{{feedback_detail.name}}</b></td>
                <td><b>{{feedback_detail.role}}</b></td>
                <td><b>{{feedback_detail.comments}}</b></td>
                <td><b>{{feedback_detail.sent_time}}</b></td>   
            </tr>
        </tbody>
    </table>
</div>
{% endblock%}