{% extends 'base.html' %}
{% load bootstrap5 %}
{% block body %}
<style>
    body{
        background-image: url('../static/admin3.jpg');
    }
</style>
<div class="container">
    <h1 style="color: white;">Login</h1>
    <form action="login" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
    <button><a href="{% url 'password_reset'%}">Forgot Password</a></button>
</div>
{% endblock %}