{% extends 'base.html' %}
{% block body %}
<style>
    body{
        background-image: url('../static/finalimg.webp');
    }
</style>
<div class="container">
<h1 class="text-center"><b>My Profile</b></h1>
<br>
<h5 class="text-center">ID : <b>{{user.id}}</b></h5>
<h5 class="text-center">Name : <b>{{user.username}}</b></h5>
<h5 class="text-center">Email :<b>{{user.email}}</b></h5>

{% for r in db %}
<h5 class="text-center">Date of Birth :<b>{{r.dob}}</b></h5>
<h5 class="text-center">Phone Number :<b>{{r.phone_number}}</b></h5>
<div class="container" style="text-align: center;">
<img class='text-center'src="{{r.qrcode.url}}" />
</div>
    {% endfor %}
    <div class="container" style="text-align: center;">
    <button  class="btn btn-primary" onclick="window.print()">Print</button>
    </div>
</div>
{% endblock %}